.redbold {
      color: rgb(193, 6, 46);
      font-weight: bold;
}

.format-serie {
    font-family: hacked;
    text-align: center;
    color: rgb(193, 6, 46);
    background-color: rgb(183, 183, 183);
}

#btn-ulule {
  background-color: rgb(193, 6, 46);
}